<section id="home">
    <div class="qcircle"></div>
      
      <div class="header">
          <div class="container">
              <div class="row justify-content-center align-items-center">
                  <div class="col-lg-5 col-md-12 left">
                      <h1 class="hovh1">Welcome to Gadwelooh!</h1>
                      <p class="hovp">Streamline your academic journey with our user-friendly schedule generator. Say goodbye to course selection hassles and hello to effortless planning. Simplify your student life with us today</p>
                      <a href="courses"><button class="headbtn"> Get Started</button></a>
                  </div>
                  <div class="col-lg-5 offset-lg-2 col-md-12 right">
                      <img class="w-100" src="assets/A whole year-bro.png" alt="schedule">
                      
                  </div>
              </div>
          </div>
      </div>
      <div class="howToUse">
        <div class="container mb-5">
          <div>
            <h2 class="htuh2">HOW TO USE</h2>
            <div class="brdr1"></div>
            <div class="brdr2"></div>
            <div class="brdr4"></div>
          </div>
          <div class="row  justify-content-center align-items-center">
            <div class="steps shadow-lg rounded-5 p-5 d-flex flex-column justify-content-evenly">
              <h5>1. Explore Courses (Press "Courses")</h5>
              <h5>2. Discover Course Details (Press "View")</h5>
              <h5>3. Add to Your Cart (Press "Add")</h5>
              <h5>4. Review Your Selections</h5>
              <h5>5. Generate Custom Schedules (Press "Generate Schedules")</h5>
              <h5>6. Select Your Ideal Schedule</h5>
              <h5>7. Complete Enrollment via Power Campus</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="about">
        <div class="container my-5">
          <div>
            <h2 class="htuh2">ABOUT</h2>
            <div class="brdr1"></div>
            <div class="brdr2"></div>
            <div class="brdr4"></div>
          </div>
        <div class="row abtrow  justify-content-center align-items-center">
          <div class="col-lg-10 d-flex p-5 abt_main">
            <div class="col-lg-5">
              <h4>Hossameldin Ahmed Hamza <br> (Backend Developer)</h4>
              <p>Hossameldin Ahmed Hamza is our brilliant backend developer. Currently pursuing a degree in Computer Engineering, Hossameldin is known for his unwavering dedication and tireless work ethic. He's the mastermind behind the scenes, ensuring the seamless functioning of our web app.
                <br>
                <a href="https://www.linkedin.com/in/hossamhamzahm/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </p>
            <h4>Mohammed Ahmed Lamei <br> (Frontend Developer)</h4>
            <p>Meet Mohammed Ahmed Lamei, our skilled frontend developer. Also a Computer Engineering student, Mohammed brings creativity and a passion for user-friendly design to our team. His mission is to make life easier for users, and he's committed to delivering an intuitive and delightful experience through our web app.
                <br>
                <a href="https://www.linkedin.com/in/mohammed-lamei-21b729227/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </p>
            </div>
            <img class="dev_img" src="assets/hoss.jpg" alt="">
            <img class="dev_img2" src="assets/ana.jpg" alt="">
          </div>
          <div class="min_divpic d-flex justify-content-around mt-3">
            <img class="min_divpic1 rounded-5" src="assets/hoss.jpg" alt="">
            
            <img class="min_divpic2 rounded-5" src="assets/ana.jpg" alt="">
          </div>
        </div>

        </div>
      </div>
  </section>
